body {
    background-color:rgb(229, 225, 186);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

h2, h3 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 80px 5%;
}

.navigation {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

/*sets up the about me title padding, image, and paragraph to wrap*/

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 200px;

}

#about-title {
    width: 100%;
    text-align: center;
    padding: 20px 100px 100px;
    margin: 30px auto;
}

/*adjusts the figure in relation to the about-description class*/

#container-1 {
    display: flex;
    width: 45%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 12px;
    margin: 5px;

}

#avatar {
    width: 80%;
    height: auto;
}

.about-description {
    width: 50%;
    text-align: left;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

/*positions the my work title and sets up how icons will be row and wrapped*/

.work-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

#work-title {
    width: 100%;
    text-align: center;
    padding: 20px 100px 100px 100px;
    margin: 30px auto;

}

.list-apps {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* title of the apps */

.app-head {
    font-size: 40px;
    font-family: monospace;
    margin: 10px auto;
    padding-bottom: 10px;
}

/* figure containers with titles and images */

#calendar-text-icon {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-bottom: 50px;
    margin: 40px;
    background-color: white;
}

#snake-text-icon {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 50px;
    margin: 20px;
    background-color: rgb(182, 249, 249);

}

#library-text-icon {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 50px;
    margin: 20px;
    background-color: thistle;
}

#weather-text-icon {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 50px;
    margin: 20px;
    background-color:antiquewhite;
}

#lorem-text-icon {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 50px;
    margin: 20px;
    background-color:rgb(171, 250, 226);
}

/* this is the contact section */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}


